<span class="accordeon">
	<f:for each="{letters}" as="hasDefinitions" key="letter">
		<span class="accordeon_letter">
			<f:if condition="{hasDefinitions}">
				<f:then>
					<f:if condition="{subset}">
						<f:then>
							<f:link.action action="subset" arguments="{startLetter : letter}">{letter}</f:link.action>
						</f:then>
						<f:else>
							<a href="#keyword_{letter}">{letter}</a>
						</f:else>
					</f:if>
				</f:then>
				<f:else>{letter}</f:else>
			</f:if>
		</span>
	</f:for>
</span>
