<div class="gbglossary_listview">
	<f:render partial="Glossary/Letters" arguments="{letters : letters}"/>
	<f:for each="{definitions}" as="definitiongroup" key="letter">
		<f:if condition="{definitiongroup}">
			<h4 id="keyword_{letter}">{letter}</h4>
			<ul>
				<f:for each="{definitiongroup}" as="definition">
					<f:render partial="Glossary/Definition.html"
							  arguments="{definition : definition, backPid : currentPage}"/>
				</f:for>
			</ul>
		</f:if>
	</f:for>
</div>
