<div class="gbglossary_detailview">
	<h4>{definition.short}</h4>

	<div class="definitiontype">
		<span class="definition">{definition.longversion}</span>
	</div>
	<f:if condition="{definition.description}">
		<h5>Beschreibung</h5>

		<div class="description">
			<f:format.html>{definition.description}</f:format.html>
		</div>
	</f:if>
	<f:if condition="{definition.website}">
    <span class="websitelink"><f:translate key="websitelink"/>:
      <f:link.external uri="{definition.website}">
		  {definition.website}
	  </f:link.external>
    </span>
	</f:if>

	<div class="back">
		<f:if condition="{backPid}">
			<f:then>
				<f:if condition="{startLetter}">
					<f:then>
						<f:link.action pageUid="{backPid}" action="subset" arguments="{startLetter : startLetter}">
							<f:translate key="back"/>
						</f:link.action>
					</f:then>
					<f:else>
						<f:link.action pageUid="{backPid}" action="list">
							<f:translate key="back"/>
						</f:link.action>
					</f:else>
				</f:if>
			</f:then>
			<f:else>
				<a href="javascript:history.back();">
					<f:translate key="back"/>
				</a>
			</f:else>
		</f:if>
	</div>
</div>
